# deps
node_modules/
.pnpm-store/

# builds
dist/
build/
.next/
out/
.turbo/
coverage/
*.tsbuildinfo

# env
.env
.env.*
!.env.example

# logs / os / editors
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
